Repository NHSDigital/validated-relationships-service-api, pull requests merged in 2025-07, with the labels that each got.

#230 NPA-4986: Fix Specification Incorrect Error Code
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/dependency-review.yml
  .github/workflows/openapi-validate.yml
  .github/workflows/prettier-checks.yml
  specification/validated-relationships-service-api.yaml
Labels: bug, documentation, enhancement, endpoints

#231 NPA-5191: Update POST QuestionnaireResponse DUPLICATE_RELATIONSHIP
  .github/pull_request_template.md
  postman/Validate Relationship Service Sandbox.postman_collection.json
  sandbox/api/constants.py
  sandbox/api/post_questionnaire_response.py
  sandbox/api/tests/test_post_questionnaire_response.py
  specification/examples/requests/POST_QuestionnaireResponse/duplicate_relationship.yaml
  specification/examples/responses/POST_QuestionnaireResponse/errors/duplicate_relationship_error.yaml
  specification/validated-relationships-service-api.yaml
Labels: postman, endpoints

#233 NPA-5214: Fix Extension valueCodeableConcept Schema
  postman/Validate Relationship Service Sandbox.postman_collection.json
  specification/examples/responses/GET_Consent/filtered-relationships-status-active-include-details.yaml
  specification/examples/responses/GET_Consent/filtered-relationships-status-inactive.yaml
  specification/examples/responses/GET_Consent/filtered-relationships-status-proposed-active.yaml
  specification/examples/responses/GET_Consent/multiple-relationships-include-patient.yaml
  specification/examples/responses/GET_Consent/multiple-relationships-include-performer-patient.yaml
  specification/examples/responses/GET_Consent/multiple-relationships-include-performer.yaml
  specification/examples/responses/GET_Consent/multiple-relationships-single-patient-include-patient.yaml
  specification/examples/responses/GET_Consent/multiple-relationships-single-patient-include-performer-patient.yaml
  specification/examples/responses/GET_Consent/multiple-relationships-single-patient-include-performer.yaml
  specification/examples/responses/GET_Consent/multiple-relationships-single-patient.yaml
  specification/examples/responses/GET_Consent/multiple-relationships.yaml
  specification/examples/responses/GET_Consent/single-consenting-adult-relationship-include-performer-patient.yaml
  specification/examples/responses/GET_Consent/single-consenting-adult-relationship.yaml
  specification/examples/responses/GET_Consent/single-mother-child-relationship-include-performer-patient.yaml
  specification/examples/responses/GET_Consent/single-mother-child-relationship.yaml
  specification/validated-relationships-service-api.yaml
Labels: bug, postman, endpoints

#234 NPA-5290 - Update postman collection with fixed tests
  postman/Validate Relationship Service Sandbox.postman_collection.json
  specification/validated-relationships-service-api.yaml
Labels: postman

#235 NPA-52222: Fix PATCH Consent Try It Out Now Defaults
  proxies/sandbox/apiproxy/policies/AssignMessage.AddCors.xml
Labels: bug

#237 NPA-5280: Update spec version to v1.8.0
  specification/validated-relationships-service-api.yaml
Labels: documentation
